<!-- 
This file is part of SOMHunter.

Copyright (C) 2020 František Mejzlík <frankmejzlik@gmail.com>
                   Mirek Kratochvil <exa.exa@gmail.com>
                   Patrik Veselý <prtrikvesely@gmail.com>

SOMHunter is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free
Software Foundation, either version 2 of the License, or (at your option)
any later version.

SOMHunter is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
SOMHunter. If not, see <https://www.gnu.org/licenses/>.
-->

<div class="grid-container"> 

  <!-- Screen buttons -->
  <div class="screen-btns grid-padding-x grid-x align-left"> 

    <div class="small-12 cell">
      <h1>Settings</h1>
    </div>

    <% const srvCfg = coreCfg.submitter_config; 
    const serverType = srvCfg.submit_server; %>

    <div class="small-12 cell">
      <h2>Submit server settings</h2>

      <p>Submit to server: <strong><%= srvCfg.submit_to_VBS ? "true" : "false" %></strong></p>
      <p>Submit server: <strong><%= srvCfg.submit_server %></strong></p>

      <!-- DRES server login -->
      <% if (srvCfg.submit_server == "dres") { %>

        <h3>DRES server login</h3>
        <p>Login URL: <strong><%= srvCfg.server_config.dres.login_URL %></strong></p>
        <p>Username: <strong><%= srvCfg.server_config.dres.username %></strong></p>
        <p>Password: <strong><%= srvCfg.server_config.dres.password %></strong></p>

        <% if (srvCfg.submit_to_VBS) { %>
          <% if (srvCfg.server_config.dres.loggedIn) { %>
            <h1 id="dresLoginStatus" class="logged-in">LOGIN TO THE SERVER WAS OK</h1>
          <% } else { %>
            <h1 id="dresLoginStatus" class="not-logged-in">!!! NOT LOGGED TO THE DRES SERVER !!!</h1>
          <% }  %>
        
        <a class="button" onclick="loginToDres()">Login to the DRES server</a>

        <% }  %>

      <% } %>

    </div>

  </div>
</div>

<script>

  function setDresLoginStatus(val) {
    const el = document.getElementById("dresLoginStatus");
    const elAlt = document.getElementById("dresLoginStatusAlt");

    if (val)
     {
       el.innerText = "LOGIN TO THE SERVER WAS OK";
       el.className = "logged-in";
       elAlt.classList.remove("active");

     } else {
      el.innerText = "!!! NOT LOGGED TO THE DRES SERVER !!!";
      el.className = "not-logged-in";
      elAlt.classList.add("active");
     }
  }

  function loginToDres() {
    // Make the request
    fetch("/login_to_dres", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({}),
    })
      .then((res) => {
        if (!res.ok) {
          throw Error(res.statusText);
        }
        return res.json();
      })
      .then((data) => {
        // Handle error
        if (data.error) {
          throw Error(data.error.message);
        }

        // Set the indicator
        setDresLoginStatus(data.result);

        if (data.result) {
          alert("Login OK");
        } else {
          alert("Login FAILED!");
        }
      })
      .catch((e) => {
        console.log("Error: " + JSON.stringify(e.message));
        showGlobalMessage(
          "Request failed!",
          JSON.stringify(e.message),
          5000,
          "e"
        );
      });
  }
</script>
